.wrapper{
  height: 100vh;
  display: flex;
}

.chat-side{
  background-color: #333333;
  width: 300px;
}

.side-header{
  background-color: #595959;
  height: 100px;
  display: flex;
  align-items: center;
}

.side-box{
  height: 20px;
  width: 260px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.user-name{
  color: #eeeeee;
}

.menu{
  display: flex;
}

.new-group{
  margin-right: 5px;
}

a{
  text-decoration: none;
  color: #eeeeee;
}

.groups{
  background-color: #333333;
  height: calc(100vh - 100px);
}

.chat-main{
  background-color: #1a1d21;
  width: calc(100% - 300px);
}

.main-header{
  background-color: #3f3f3f;
  border-bottom: #595959 1px solid;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.crrent-group{
 color: #eeeeee;
 font-size: 20px;
 margin-bottom: 15px;
}

.member-list{
  color: #eeeeee;
  font-size: 12px;
  display: flex;
}

.member{
  margin-left: 5px;
}

.edit-btn{
  color: #eeeeee;
  font-size: 16px;
  border: 1px solid;
  padding: 15px 20px;
}

.messages{
  background-color: #1a1d21;
  height: calc(100vh - 190px);
}

.form{
  background-color: #595959;
  height: 90px;padding: 20px 40px;
}

.new-message{
  display: flex;
}

.input-text{
  height: 50px;
  width: 100%;
font-size: 16px;
padding: 0 15px;
color: #434a54;
border-style: none;

}

.submit-btn{
  height: 50px;
  width: 100px;
  color: #1a1d21;
  background-color: #eeeeee;
  font-size: 15px;
  padding: 0 30px;
  margin-left: 15px;
}